<!DOCTYPE html>
<html lang="en">    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skin Disease Classification</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header class="hero-section">
  <div class="hero-content">
    <span class="badge">Skin Health AI</span>
    <h1 class="hero-title">A Part of Your<br>New Skincare Routine</h1>
    <p class="hero-subtitle">
      Your skin often shows the first signs of imbalance, <br>track your skin's health daily with <b>Tvacha AI</b> to avoid serious complications later.
    </p>
    <a href="{{ url_for('home') }}" class="hero-btn">Start for free</a>
  </div>
</header>
</body>
</html>